<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dycn.airportconsumer.mapper.AirportPasswayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dycn.airportconsumer.entity.AirportPassway">
        <id column="id" property="id" />
        <result column="entrance" property="entrance" />
        <result column="ip" property="ip" />
        <result column="equipment_time" property="equipmentTime" />
        <result column="equipment_id" property="equipmentId" />
        <result column="online" property="online" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_name, p_dept_name, area_name, entrance, ip, equipment_time, equipment_id, online, status, create_time, update_time, deleted
    </sql>

</mapper>
